.box {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.4px solid #888888;
  box-shadow: 5px 10px 18px #888888;
  padding: 20px;
}

/* .form-input-center {
  margin-right: auto !important;
  margin-left: auto !important;
} */

/* label & icon focus color */

.input-field input:focus + label {
  color: rgb(240, 98, 146) !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid rgb(240, 98, 146) !important;
  box-shadow: 0 1px 0 0 rgb(240, 98, 146) !important;
}
.row .input-field .material-icons {
  color: black !important;
}

.show-h5 {
  color: rgb(240, 98, 146) !important;
  text-align: center;
}

@media (max-width: 995px) {
  .form-header,
  .form-under-text p,
  .form-column,
  .top-list li {
    margin-left: 190px !important;
  }
}
@media (max-width: 805px) {
  .form-header,
  .form-under-text p,
  .form-column,
  .top-list li {
    margin-left: 120px !important;
  }
}
@media (max-width: 415px) {
  .box {
    margin-left: -25px;
    width: 400px;
  }
  #form {
    margin-top: 50px !important;
  }
  #form .row,
  #form input {
    margin-left: -30px;
  }
}
@media (max-width: 415px) {
  .box {
    width: 415px;
    padding: 10px !important;
    padding-left: -70px;
  }

  .form-column,
  .input-field {
    margin-left: -40px;
  }
  .form-header {
    width: 300px;
    margin-left: 15px !important;
  }
  .form-header-i,
  .form-under-text {
    margin-left: -45px !important;
  }
}

@media (max-width: 376px) {
  .box {
    width: 455px;
    padding: 10px !important;
    margin-left: -100px !important;
  }
  .form-header {
    margin-left: 70px !important;
  }
}
