.first-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

video {
  object-fit: cover;
  object-position: center;
  margin: 0px !important;
  padding: 0px !important;
  opacity: 90%;
  position: absolute;
  height: 120%;
  width: 100%;
  right: 0;
  z-index: -10;
  top: 165px;
  overflow: hidden;
}

video source {
  width: 100%;
}

@media (max-width: 1674px) {
  video {
    top: 0px;
    height: 135%;
    /* width: 100%; */
  }
  /* video source {
    width: 110%;
    height: 110%;
  } */
}
@media (max-width: 1349px) {
  video {
    top: 0px;
    height: 125%;
  }
}
@media (max-width: 1256px) {
  video {
    top: 0px;
    height: 175% !important;
    width: 110%;
  }
}
@media (max-width: 1024px) {
  video {
    top: 0px;
    height: 85% !important;
    width: 110%;
  }
}
@media (max-width: 1004px) {
  video {
    top: 0px;
    height: 165% !important;
    width: 110%;
  }
}

@media (max-width: 995px) {
  video {
    top: 0px;
    height: 265% !important;
    width: 110%;
  }
}
@media (max-width: 935px) {
  video {
    top: 0px;
    height: 275% !important;
    width: 110%;
  }
}
@media (max-width: 905px) {
  video {
    top: 0px;
    height: 285% !important;
    width: 110%;
  }
}
@media (max-width: 768px) {
  video {
    top: 0px;
    height: 175% !important;
    width: 110%;
  }
}
@media (max-width: 756px) {
  video {
    top: 0px;
    height: 295% !important;
    width: 110%;
  }
}

@media (max-width: 709px) {
  video {
    top: 0px;
    height: 210%;
    width: 100% !important;
  }
  video source {
    width: 130% !important;
  }
}

@media (max-width: 708px) {
  video {
    object-position: right;
    top: 0px;
    right: 0px !important;
    height: 200%;
    width: 2000px !important;
  }
}
@media (max-width: 415px) {
  video {
    display: none;
  }
}
