.footer-copyright {
  height: 10px !important;
}
.footer-links {
  font-size: 15px;
  display: inline !important;
  color: rgb(240, 98, 146) !important;
  margin-left: 20px;
  cursor: pointer;
}

.footer-links:hover {
  color: rgb(240, 98, 146) !important;
  cursor: pointer;
}
.footer-ul,
.footer-link {
  color: rgb(240, 98, 146) !important;
  /* width: 100% !important; */
}
.footer-links:nth-child(1) {
  /* margin-left: 40px; */
}

.lucinda-footer {
  color: rgb(240, 98, 146) !important;
  padding-top: -90px !important;
  margin-bottom: 20px !important;
}

.cr-footer {
  color: rgb(240, 98, 146) !important;
  margin-top: -30px;
}
