.footer-copyright {
  height: 10px !important;
}
.footer-links {
  font-size: 15px;
  display: inline !important;
  color: rgb(240, 98, 146) !important;
  margin-left: 20px;
  cursor: pointer;
}

.footer-links:hover,
.footer-links:focus,
.footer-links:active {
  color: rgb(240, 98, 146) !important;
  cursor: pointer;
}
.footer-ul,
.footer-link {
  color: rgb(240, 98, 146) !important;
  /* width: 100% !important; */
}
.footer-links:nth-child(1) {
  /* margin-left: 40px; */
}

a,
a:active,
a:hover,
a:focus {
  color: rgb(240, 98, 146) !important;
}

.lucinda-footer {
  color: rgb(240, 98, 146) !important;
  padding-top: -90px !important;
  margin-bottom: 20px !important;
}

.cr-footer {
  color: rgb(240, 98, 146) !important;
  margin-top: -30px;
}

@media (max-width: 995px) {
  .page-footer {
    width: 100%;
  }
  .lucinda-footer {
    margin-left: 205px;
  }
}
@media (max-width: 905px) {
  .page-footer {
    width: 100%;
  }
  .lucinda-footer {
    margin-left: 185px;
  }
}
@media (max-width: 805px) {
  .page-footer {
    width: 100%;
  }
  .lucinda-footer {
    margin-left: 135px;
  }
}
@media (max-width: 415px) {
  .page-footer {
    width: 100%;
  }
  .lucinda-footer {
    margin-left: -20px;
  }
  .social-icons {
    margin-left: -40px;
  }
}
@media (max-width: 412px) {
  .page-footer {
    width: 100%;
  }
  .lucinda-footer {
    margin-left: 30px;
    text-align: center;
  }
  .social-icons {
    margin-left: -40px;
  }
}

@media (max-width: 376px) {
  .page-footer {
    width: 375px !important;
    /* margin-bottom: 75px; */
  }
  .page-footer li {
    font-size: 12px;
    color: rgb(240, 98, 146) !important;
  }
  .page-footer li:link,
  .page-footer li:visited {
    color: rgb(240, 98, 146) !important;
  }
  .lucinda-footer {
    margin-left: 37px;
    font-size: 30px;
    margin-top: 0px;
  }
  .social-icons {
    margin-left: 10px;
    margin-top: 0px !important;
  }
}
