@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

.lucinda,
.nav-header {
  font-family: "Dancing Script", cursive;
}

.nav-header {
  margin-top: 15px;
  font-size: 60px !important;
  font-family: "Dancing Script", cursive;
}

.nav-top {
  height: 100px;
}

@media (max-width: 935px) {
  .nav-top {
    height: 170px !important;
  }
}
@media (max-width: 707px) {
  .nav-top {
    height: 160px !important;
  }
}
@media (max-width: 499px) {
  .nav-top {
    height: 190px !important;
  }
}
@media (max-width: 415px) {
  .nav-top {
    width: 100% !important;
  }
  .nav-header {
    margin-left: -10px;
  }
  .nav-bottom-ul {
    left: 0px;
    margin-left: 300px !important;
  }
}
