@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.about-section {
  height: 550px !important;
  background-color: rgb(240, 98, 146);
}
.card-box,
.swiper-slide {
  overflow: hidden;
  border: 1px solid black;
  z-index: 10 !important;
  border-radius: 20px !important;
  width: 600px;
  height: 450px !important;
  background-color: white !important;
  margin-top: 30px !important;
}

.card-box h5,
.swiper-slide h5 {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  text-align: center;
}

.about-qa {
  font-size: 22px !important;
}
.card-box h5 a,
.swiper-slide h5 a {
  color: rgb(240, 98, 146);
}

.about-q {
  font-weight: bold;
}
.about-ul,
.about-li {
  padding: 0px;
  font-size: 12px;
}

.about-icon-pagination,
.swiper-button-next {
  /* position: absolute; */
  margin-left: 250px !important;
  margin-top: 220px !important;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer !important;
  transition: 2s ease;
}

.about-icon-pagination:hover {
  /* position: absolute; */
  cursor: pointer !important;
  /* transform: scaleY(1.1); */
}

.swiper-pagination {
  color: white !important;
  z-index: 10 !important;
}

@media (max-width: 415px) {
  .about-section {
    width: 110%;
  }
}
